<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password Reset OTP</title>
</head>
<body>
    <p>Hi {{fullName}},</p>
    <p>Use the OTP below to reset your {{fullName}} password:</p>
    <p>{{otp}}</p>
    
    {{#if otpExpiresIn}}
    <p>This code expires in {{otpExpiresIn}} minutes.</p>
    {{/if}}

    <p>If you didn’t request this, you can safely ignore this email.</p>
</body>
</html>
