<% 
   const minutes = Math.ceil(seconds / 60); 
%>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password Reset OTP</title>
</head>
<body>
    <p>Hi <%= fullName %>,</p>

    <p>Use the OTP below to reset your <%= fullName %> password:</p>

    <p><strong><%= otp %></strong></p>

     <% if (seconds) { %>
        <p>This code expires in <%= minutes %> minutes.</p>
    <% } %>

    <p>If you didn’t request this, you can safely ignore this email.</p>
</body>
</html>
